disinfo-*.tar.gz
disinfo-*.tar.bz2
autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
stamp-h1
src/.libs
lib/.deps
lib/.libs
lib/*.o
lib/*.lo
lib/*.h
lib/sys/*.h
lib/lib*.a
lib/lib*.la
*/*~
