/Makefile.am
/basename-lgpl.c
/basename.c
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/intprops.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.in.h
/stddef.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/sys_types.in.h
/unistd.in.h
/verify.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstrndup.c
/xstrndup.h
