/Makefile.am
/basename-lgpl.c
/basename.c
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/intprops.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.in.h
/stddef.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/sys_types.in.h
/unistd.in.h
/verify.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstrndup.c
/xstrndup.h
/alloca.in.h
/cloexec.c
/cloexec.h
/close.c
/dup2.c
/execute.c
/execute.h
/fatal-signal.c
/fatal-signal.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fstat.c
/getdtablesize.c
/open.c
/pathmax.h
/raise.c
/rawmemchr.c
/rawmemchr.valgrind
/sched.in.h
/sig-handler.h
/sigaction.c
/signal.in.h
/sigprocmask.c
/spawn.in.h
/spawn_faction_addopen.c
/spawn_faction_destroy.c
/spawn_faction_init.c
/spawn_int.h
/spawnattr_destroy.c
/spawnattr_init.c
/spawnattr_setflags.c
/spawnattr_setsigmask.c
/spawni.c
/spawnp.c
/stat.c
/stdint.in.h
/strchrnul.c
/strchrnul.valgrind
/sys_stat.in.h
/sys_wait.in.h
/time.in.h
/w32spawn.h
/wait-process.c
/wait-process.h
/waitpid.c
/dummy.c
/ctype.in.h
