/Makefile.am
/alloca.in.h
/asnprintf.c
/asprintf.c
/basename-lgpl.c
/basename.c
/cloexec.c
/cloexec.h
/close.c
/ctype.in.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/dup2.c
/errno.in.h
/error.c
/error.h
/execute.c
/execute.h
/exitfail.c
/exitfail.h
/fatal-signal.c
/fatal-signal.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/float+.h
/float.c
/float.in.h
/fpucw.h
/frexp.c
/frexpl.c
/fseterr.c
/fseterr.h
/fstat.c
/ftell.c
/ftello.c
/full-write.c
/full-write.h
/getdtablesize.c
/gettext.h
/intprops.h
/isdir.c
/isdir.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/itold.c
/lseek.c
/lstat.c
/malloc.c
/math.in.h
/memchr.c
/memchr.valgrind
/mkdir.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/raise.c
/rawmemchr.c
/rawmemchr.valgrind
/read-file.c
/read-file.h
/realloc.c
/safe-read.c
/safe-write.c
/safe-write.h
/sched.in.h
/sig-handler.h
/sigaction.c
/signal.in.h
/signbitd.c
/signbitf.c
/signbitl.c
/sigprocmask.c
/size_max.h
/spawn.in.h
/spawn_faction_addopen.c
/spawn_faction_destroy.c
/spawn_faction_init.c
/spawn_int.h
/spawnattr_destroy.c
/spawnattr_init.c
/spawnattr_setflags.c
/spawnattr_setsigmask.c
/spawni.c
/spawnp.c
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-impl.h
/stdio.in.h
/stdlib.in.h
/strchrnul.c
/strchrnul.valgrind
/strdup.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/sys_stat.in.h
/sys_types.in.h
/sys_wait.in.h
/time.in.h
/unistd.in.h
/unlink.c
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/vfprintf.c
/w32spawn.h
/wait-process.c
/wait-process.h
/waitpid.c
/wchar.in.h
/write.c
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xsize.h
/xstrndup.c
/xstrndup.h
/xvasprintf.c
/xvasprintf.h
/ioctl.c
/stdalign.in.h
/sys_ioctl.in.h
/sys_socket.in.h
/sys_uio.in.h
/w32sock.h
/inttypes.in.h
/isatty.c
/strtoimax.c
/strtol.c
/strtoll.c
